


<header id="header" class="header fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="/assets/img/logoweb-sinfondo.png" alt="">
      <span>CLICKTIME</span>
    </a>
  
    <nav id="navbar" class="navbar navbar-light navbar-expand-lg ">
      <ul>
        <li><a class="nav-link scrollto" href="#hero">Inicio</a></li>
        <li><a class="nav-link scrollto" href="#about">Conocenos</a></li>
        <li><a class="nav-link scrollto" href="#features">Servicios</a></li>
       <li><a class="nav-link scrollto" href="#portfolio">Portafolio</a></li>
        <li><a class="nav-link scrollto" href="#team">Equipo</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
       
      </ul>
     
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

<section id="hero" class="hero d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Transformamos tu idea de negocio en un Diseño para una Pagina web Profesional </h1>
       
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a href="#pricing" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Cotiza aqui</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="assets/img/hero-img.png" class="img-fluid max-width-100" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <div class="container" data-aos="fade-up">
      <div class="row gx-0">

        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="content">
            <h2>UNA AGENCIA DE MARKETING Y DESARROLLO WEB</h2>
            <h3>
              ¿PORQUE ESCOGERNOS COMO TU EMPRESA DIGITAL?
            </h3>
            <p>El amplio conocimiento y experiencia de CLICKTIME  no tiene comparación en la industria DIGITAL. Tenemos una historia distinguida, hemos traído diferentes  programas innovadores relacionados a operaciones dentro del sector TECNOLOGICO en conjunto con nuestros socios comerciales. Varios de nuestros servicios y creacion de sitios web  se han convertido en estándares de la industria, y buscamos activamente nuevas tecnologías y programas para beneficiar a nuestros clientes</p>

            
            <div class="text-center text-lg-start">
              
            </div>
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

      </div>
    </div>

  </section><!-- End About Section -->

  <section id="features" class="features">
    <div class="row feature-icons" data-aos="fade-up">
      <h3>Los servicios que WebMark tiene para ti!</h3>

      <div class="row">

        <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
          <img src="assets/img/features-3.png" class="img-fluid p-4" alt="">
        </div>

        <div class="col-xl-8 d-flex content">
          <div class="row align-self-center gy-4">

            <div class="col-md-6 icon-box" data-aos="fade-up">
              <i class="ri-line-chart-line"></i>
              <div>
                <h4>Marketing Digital</h4>
                <p>Aumentaremos tus ventas y seguidores en redes sociales, manejando las mejores herramientas del mercado, logrando aumentar su cartera de clientes y posicionamiento en los motores de búsqueda.</p>
              </div>
            </div>

            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="ri-stack-line"></i>
              <div>
                <h4>Diseño y creacion de sitios webs</h4>
                <p>Diseñaremos sitio web creativo, amigables y didácticos enfocados a todo tipo de público, teniendo en cuenta las necesidades del cliente, manejando los mejores precios del mercado y ofreciendo infinidades de beneficios.</p>
              </div>
            </div>

            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
              <i class="ri-camera-line"></i>
              <div>
                <h4>Diseño grafico</h4>
                <p>Toda publicidad exitosa requiere de un buen diseño gráfico para impulsar visualmente el producto o servicio a ofrecer, por eso nosotros te ayudamos diseñando un manual corporativo para su empresa o emprendimiento.</p>
              </div>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
              <i class="ri-store-line"></i>
              <div>
                <h4>E-commerce</h4>
                <p>La gran ventaja del comercio electrónico es la posibilidad de contar con un negocio de incidencia mundial, con disponibilidad para cualquier persona que cuente con una conexión a internet pueda acceder a los productos y servicios.</p>
              </div>
            </div>
          
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
              <i class="ri-phone-line"></i>
              <div>
                <h4>Asesoria</h4>
                <p>Junto con mi equipo de trabajo diseñaremos la mejor opcion acorde a su nicho de mercado.</p>
              </div>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
              <i class="ri-terminal-line"></i>
              <div>
                <h4>Soporte</h4>
                <p>Brindamos acompañamiento y soporte 24/7 para el correcto funcionamiento de su negocio.</p>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>
  </section>

  <!--<section id="pricing" class="pricing">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
              
        <p>Escoge el plan que mejor se adapte a ti</p>
      </header>

      <div class="row gy-4" data-aos="fade-left">

        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="box">
            <h3 style="color: #07d5c0;">Free Plan</h3>
            <div class="price"><sup>$</sup>0<span> / mo</span></div>
            <img src="assets/img/pricing-free.png" class="img-fluid" alt="">
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li class="na">Pharetra massa</li>
              <li class="na">Massa ultricies mi</li>
            </ul>
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="box">
            <span class="featured">Featured</span>
            <h3 style="color: #65c600;">Starter Plan</h3>
            <div class="price"><sup>$</sup>19<span> / mo</span></div>
            <img src="assets/img/pricing-starter.png" class="img-fluid" alt="">
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li class="na">Massa ultricies mi</li>
            </ul>
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="box">
            <h3 style="color: #ff901c;">Business Plan</h3>
            <div class="price"><sup>$</sup>29<span> / mo</span></div>
            <img src="assets/img/pricing-business.png" class="img-fluid" alt="">
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li>Massa ultricies mi</li>
            </ul>
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
          <div class="box">
            <h3 style="color: #ff0071;">Ultimate Plan</h3>
            <div class="price"><sup>$</sup>49<span> / mo</span></div>
            <img src="assets/img/pricing-ultimate.png" class="img-fluid" alt="">
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li>Massa ultricies mi</li>
            </ul>
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Pricing Section -->
   <!-- ======= Team Section ======= -->
   <section id="team" class="team">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
    
        <p>Nuestro equipo</p>
      </header>

      <app-member-team></app-member-team>

    </div>

  </section><!-- End Team Section -->

  <section id="contact" class="contact">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Contacto</h2>
        <p>Contactanos</p>
      </header>

      <div class="row gy-4">

        <div class="col-lg-6">

          <div class="row gy-4">
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-geo-alt-fill"></i>
                <h3>Dirección</h3>
                <p>Riohacha - La Guajira</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-telephone-fill"></i>
                <h3>Teléfono</h3>
                <p>+57 3046494527</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-envelope-fill"></i>
                <h3>Email</h3>
                <p>info@example.com<br>contact@example.com</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-clock-fill"></i>
                <h3>Horario de atención</h3>
                <p>Lunes - Viernes<br>8:00AM - 06:00PM</p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">
          
          <app-form-contact></app-form-contact>

        </div>

      </div>

    </div>

  </section><!-- End Contact Section -->
</main>