

.skill {
    color: #012970;
    text-align: center;
    margin-top: 10px;
    
}

.imgskill {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 120px;
    height: 120px;
    
}


img {
    width: 100%;
    height: auto;
}

.progress-bar-darkblue{
    background-color:  #012970 !important;
}
  